<?xml version="1.0"?>

<robot name="cameras" xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- Links -->
  <link name="base_link"/>
  <link name="rgb_camera">
    <visual>
      <geometry>
        <box size="0.1 0.1 0.1"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <box size="0.1 0.1 0.1"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="1.00"/>
      <inertia
        ixx="0.00167"
        ixy="0.0"
        ixz="0.0"
        iyy="0.00167"
        iyz="0.0"
        izz="0.00167"/>
      <origin rpy="0 0 0" xyz="0.0 0.0 0.0"/>
    </inertial>
  </link>
  <link name="depth_camera">
    <visual>
      <geometry>
        <box size="0.1 0.1 0.1"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <box size="0.1 0.1 0.1"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="1.00"/>
      <inertia
        ixx="0.00167"
        ixy="0.0"
        ixz="0.0"
        iyy="0.00167"
        iyz="0.0"
        izz="0.00167"/>
      <origin rpy="0 0 0" xyz="0.0 0.0 0.0"/>
    </inertial>
  </link>

  <link name="rgb_camera_optical"/>
  <link name="depth_camera_optical"/>

  <!-- Joints -->
  <joint name="base_link__rgb_camera" type="fixed">
    <parent link="base_link"/>
    <child link="rgb_camera"/>
    <origin xyz="0 -0.5 0" rpy="0 0 0"/>
  </joint>

  <joint name="base_link__depth_camera" type="fixed">
    <parent link="base_link"/>
    <child link="depth_camera"/>
    <origin xyz="0 0.5 0" rpy="0 0 0"/>
  </joint>

  <joint name="rgb_camera__rgb_camera_optical" type="fixed">
    <parent link="rgb_camera"/>
    <child link="rgb_camera_optical"/>
    <origin xyz="0 0 0" rpy="-1.57 0 -1.57"/>
  </joint>

  <joint name="depth_camera__depth_camera_optical" type="fixed">
    <parent link="depth_camera"/>
    <child link="depth_camera_optical"/>
    <origin xyz="0 0 0" rpy="-1.57 0 -1.57"/>
  </joint>

  <!-- RGB Camera -->
  <gazebo reference="rgb_camera">
    <sensor name='rgb_camera' type='camera'>
        <pose>0 0 0 0 0 0</pose>
        <visualize>true</visualize>
        <topic>rgb_camera</topic>
        <update_rate>10</update_rate>
        <camera>
          <horizontal_fov>1.089</horizontal_fov>
          <image>
              <format>R8G8B8</format>
              <width>640</width>
              <height>480</height>
          </image>
          <clip>
              <near>0.05</near>
              <far>8.0</far>
          </clip>
      </camera>
    </sensor>
  </gazebo>

  <!-- Depth Camera -->
  <gazebo reference="depth_camera">
    <sensor name='depth_camera' type='depth'>
        <pose>0 0 0 0 0 0</pose>
        <visualize>true</visualize>
        <topic>depth_camera</topic>
        <update_rate>10</update_rate>
        <camera>
          <horizontal_fov>1.089</horizontal_fov>
          <image>
              <format>B8G8R8</format>
              <width>640</width>
              <height>480</height>
          </image>
          <clip>
              <near>0.05</near>
              <far>8.0</far>
          </clip>
      </camera>

    </sensor>
  </gazebo>

  <gazebo>
    <plugin filename="libignition-gazebo-sensors-system.so" name="ignition::gazebo::systems::Sensors"/>
  </gazebo>
</robot>
